@charset "UTF-8";
/* CSS Document */

.coverSmall {
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
    left: 5px;
    top: 50%;
    border-radius: 5px;
    transform: translate(-0%, -50%);
   
}

.item {
    float: left;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 95%;
    height: 60px;
    position: relative;
    background-color: rgba(76, 76, 76, 0.249);
}

.item:hover {
    background-color: rgba(98, 98, 98, 0.438);

}

.smallTXT {
    top: -5px;
    font-size: 16px;
    position: relative;
    float: left;
    margin-left: 10px;
}

.art {
    position: absolute;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.612);
    top: 15px;
    left: 60px;
}

.playSmall {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-0%, -50%);
}